altair<5
beautifulsoup4
pandas
requests
streamlit
IPython
git+https://github.com/nestauk/ojd_daps_skills.git@dev
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl