https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
https://model-skill-nlp.s3.ap-southeast-2.amazonaws.com/en_20230808-0.0.1-py3-none-any.whl
sklearn
altair<5
beautifulsoup4
pandas
requests
streamlit
IPython
